@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Edu+TAS+Beginner:wght@400;500;600;700&family=Shadows+Into+Light&display=swap");
* {
  font-family: "Cormorant SC", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#img {
  width: 100%;
  height: 5.5em;
}
.navbar a {
  color: blueviolet;
  text-decoration: double;
  font-size: 1.8em;
  font-weight: 499;
  padding-left: 30px;
}
header {
  background-color: rgb(red, green, blue);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}
.main {
  width: 100%;
  height: 200vh;
  display: flex;
  align-items: center;
  background: url("images/pexels-gabriela-palai-395198.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main h2 {
  color: rgb(124, 5, 137);
  margin-top: -25px;
  font-size: 3em;
  padding: 10px;
  background-color: rgb(88, 145, 138);
  width: 21.25em;
  box-shadow: 0 5px rgba(38, 40, 41, 0.133);
  border-radius: 10px;
  padding: 25px;
}
.form-group {
  width: 38.25em;
  background-color: rgb(234, 211, 255);
  box-shadow: 0 5px rgb(255, 214, 214);
  border-radius: 10px;
  padding: 25px;
  list-style: none;
  display: inline-block;
}
#h2-id {
  background-color: rgb(253, 207, 255);
  font-family: "Shadows Into Light", cursive;
  font-weight: bolder;
  color: rgb(200, 0, 255);
}
.form-group:hover {
  transform: scale(1.1);
}
.labg {
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  color: rgb(166, 70, 255);
}
#dist{
  padding: 25px;
}
.card {

}
.card:hover {
  transform: scale(1.1);}