@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Edu+TAS+Beginner:wght@400;500;600;700&family=Shadows+Into+Light&display=swap");
* {
  font-family: "Cormorant SC", serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0%;
  margin: 0%;
}
#img {
  width: 100%;
  height: 5.5em;
  opacity: 0.75;

}
.navbar a {
  color: rgb(56, 21, 90);
  text-decoration: double;
  font-size: 1.4em;
  font-weight: 499;
  padding-left: 35px; 
  margin-right: 5%;
}
header {
  background-color: rgb(red, green, blue);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3px;
}
.main {
  width: 100%;
  height: 140vh;
  display:flex;
  align-items: center;
  background: url("images/pexels-gabriela-palai-395198.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}
.main h2 {
  color: rgb(0, 0, 0);
  margin-top: -25px;
  margin-left:10% ;
  font-size: 3em;
  padding: 10px;
  background-color: rgb(115, 115, 115);
  width: 21.25em;
  box-shadow: 0 5px rgba(38, 40, 41, 0.133);
  border-radius: 10px;
  padding: 25px;
  opacity: 0.6;
 ;
}
.form-group {
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px rgb(0, 0, 0);
  border-radius: 6px;
  padding: 25px;
  list-style: none;
  display: inline-block;
  margin-left: 10%;
  opacity: 0.6;
  font-size: 200%;

}
#h2-id {
  background-color: #ffffff ;
  font-family: "Shadows Into Light", cursive;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  margin-left: 10%;
  opacity: 0.7;
  ;
}

.form-group:hover {
  transform: scale(1.1);
  ;
}
.labg {
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  color: rgb(37, 11, 61);
}


  .main1 h2 {
    color: rgb(124, 5, 137);
    margin-top: -25px;
    font-size: 3em;
    padding: 10px;
    background-color: rgb(231, 222, 255);
    width: 21.25em;
    box-shadow: 0 5px rgba(38, 40, 41, 0.133);
    border-radius: 10px;
    padding: 25px;
    
  }
 #bg1{
  opacity: 0.8;
  background-color: rgb(179, 187, 255);
 }
 .main1 {
  width: 100%;
  height: 111vh;
  display:flex;
  align-items: center;
  background: url("images/pexels-gabriela-palai-395198.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#h2-id:hover{
  transform:scale(1.1); 
  background-color: rgb(67, 67, 67);

}
.holder{
  size: 200vh;
}
.navbar{
  width: 75%;
  margin-right: 30px;
  margin-right: 300px;
}
#welcome:hover{
   transform: scale(1.35);
   background-color: #545454;
}
#img1{
  opacity: 0.3;
  width: 30%;
  
}
.link:hover{
  transform: scale(1.2);
}